ACMECompensation/Service Descriptors/BillingProcess.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:bp="http://www.example.org/wsdl/Comp/Order/1438043449277" xmlns:extns="http://www.example.org/schema/1438043449312" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillingProcess" targetNamespace="http://www.example.org/wsdl/Comp/Order/1438043449277">
  <wsdl:import namespace="http://www.example.org/schema/1438043449312"/>
  <wsdl:message name="completeBillingRequest">
    <wsdl:part element="extns:completeBillingRequest" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="completeBillingResponse">
    <wsdl:part element="extns:completeBillingResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="reverseBillingRequest">
    <wsdl:part element="extns:reverseBillingRequest" name="parameters"/>
  </wsdl:message>
    <wsdl:message name="reverseBillingResponse">
    <wsdl:part element="extns:reverseBillingResponse" name="parameters"/>
  </wsdl:message>
    <wsdl:portType name="BillingProcess">
    <wsdl:operation name="completeBilling">
      <wsdl:input message="bp:completeBillingRequest" name="completeBillingInput"/>
      <wsdl:output message="bp:completeBillingResponse" name="completeBillingOutput"/>
    </wsdl:operation>
        <wsdl:operation name="reverseBilling">
      <wsdl:input message="bp:reverseBillingRequest" name="operationInput"/>
      <wsdl:output message="bp:reverseBillingResponse" name="operationOutput"/>
    </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
